body {
    background-color: #64aeba;
}
h1 {
    color: white;
    text-align: center;
}
h2 {
    color: #cb2020;
    text-align: center;
    text-decoration: underline;
}
h3 {
    color: #1e3e43;
    text-align: center;
}
h4 {
    text-align: center;
}
h5 {
    color: white;
    text-align: center;
    text-decoration: underline;
}
.red {
    color: #a7142a
}
.yellow {
    color: #67458f;
}