
h1 {
    color: #0c4751;
    text-align: center;
}
h2 {
    color: #cb2020;
    text-align: center;
    text-decoration: underline;
}
h3 {
    color: #1e3e43;
    text-align: center;
}
h4 {
    text-align: center;
}
h5 {
    color: #146454;
    text-align: center;
    text-decoration: underline;
}
.red {
    color: #a7142a
}
.yellow {
    color: #67458f;
}
p {
    border:1px solid black;
    padding:20px;
    background:rgba(255,149,169,0.71);
    margin:40px;
}